<% if user_signed_in? %>
  <h1>Container Schedule List</h1>
  <div class="card">
      <div class="card-body d-flex row">
        <div class="col-8">
          <div>
            <h3 class="card-title">Container NO.</h3>
          </div>
        </div>
        <div class="col">
          <h3>SIZE   TYPE </h3>
        </div>
      </div>
    </div>
  <% @schedules.each do |s| %>
    <div class="card">
      <div class="card-body d-flex row">
        <div class="col-8">
          <div>
            <h3 class="card-title"><%= s.container %></h3>
          </div>
          <div>
            <span><%= s.pickup_date %></span> PICK  
            <span><%= s.cy %></span> → 
            <span><%= s.warehouse %></span> 
            <%= s.transporter %>
          </div>
          <div>
            <span><%= s.reference_number %></span>
            <%= s.customer %>
            <span><%= s.customer_reference %></span>
          </div>
        </div>
        <div class="col">
          <h3><%= s.size %>F   <%= s.container_type %> </h3>
          <div class="d-flex justify-content-center">
            <%= link_to '詳細', "/schedules/#{s.id}", class:"btn btn-success" %>
            <%= link_to '編集', "/schedules/#{s.id}/edit", method: :get, class:"btn btn-success"  %>
            <%= link_to '削除', "/schedules/#{s.id}", method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
<% else %>
  <p>ログインしてください</p>
<% end %>