<% if user_signed_in? %>
  <h1>Container Schedule List</h1>

  <% @schedules.each do |s| %>
    <div class="card">
      <div class="card-body">
        <div>
          <h3 class="card-title"><%= s.container %></h3>
        </div>
        <div>
          <span><%= s.pickup_date %></span> PICK  
          <span><%= s.cy %></span> → 
          <span><%= s.warehouse %></span> 
          <%= s.transporter %>
        </div>
        <div>
          <span><%= s.reference_number %></span>
          <%= s.customer %>
          <span></span>
        </div>
        <div>
          <ul class="list-unstyled">
            <li><%= link_to '詳細', "/schedules/#{s.id}", class:"btn btn-success" %></li>
            <li><%= link_to '編集', "/schedules/#{s.id}/edit", method: :get, class:"btn btn-success"  %></li>
            <li><%= link_to '削除', "/schedules/#{s.id}", method: :delete, data: {confirm: "削除しますか？"}, class:"btn btn-success" %></li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  
<% else %>
  <p>ログインしてください</p>
<% end %>