<% if user_signed_in? %>
  <h1>ドレースケジュール一覧</h1>
  <table class="table table-dark">
    <tr>
      <th>搬出日</th>
      <th>
        <p>CY</p>
        <p>倉庫名</p>
      </th>
      <th>B/L NO.</th>
      <th>
        <p>コンテナNO.</p>
        <p>サイズ - タイプ</p>
      </th>
      <th>運送会社</th>
      <th>荷主</th>
      <th>管理番号</th>
      <th>操作</th>
    </tr>
    
    <% @schedules.each do |s| %>
      <tr>
        <td><%= s.pickup_date %></td>
        <td>
          <p><%= s.cy %></p>
          <p><%= s.warehouse %></p>
        </td>
        <td><%= s.bill_number %></td>
        <td>
          <p><%= s.container %></p>
          <p><%= s.size %> - DRY</p>
        </td>
        <td><%= s.transporter %></td>
        <td><%= s.customer %></td>
        <td><%= s.reference_number %></td>
        <td>
          <p><%= link_to '詳細', "/schedules/#{s.id}" %></p>        
          <p><%= link_to '編集', "/schedules/#{s.id}/edit", method: :get  %></p>
          <p><%= link_to '削除', "/schedules/#{s.id}", method: :delete, data: {confirm: "削除しますか？"} %></p>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p>ログインしてください</p>
<% end %>