<nav class="navbar navbar-bav fixed-top bg-danger text-light">  
  <div>
    <span class="badge badge-danger border">Dr.M</span>
  </div>
  <div class="text-left">
    <h3>Drayage Manager</h3>
  </div>
  <div>
    <% if user_signed_in? %>
      <%# ログイン時 %>
      <%= link_to "TOP", root_path, class:"text-light" %>
      <%= link_to "投稿画面へ", schedules_new_path, class:"text-light" %>
      <%= link_to "アカウント編集", edit_user_registration_path, class:"text-light" %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: { confirm: "ログアウトしますか？" }, class:"text-light" %>
      <%= "【ログイン名】#{current_user.username}" %>
    <% else %>
      <%# 非ログイン時 %>
      <%= link_to "新規登録", new_user_registration_path, class:"text-light" %>
      <%= link_to "ログイン", new_user_session_path, class:"text-light" %>
    <% end %>
  </div>
</nav>

